{{ define "main" }}
{{ partial "page-header" . }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="md:col-10 lg:col-6 mx-auto">
        <p class="text-center mb-8">{{ .Params.form_cta }}</p>
        <form {{ site.Params.form_processor }} method="POST" name="{{ .Params.form_name }}" action="/thank-you/">
          <div class="mb-6">
            <label for="name" class="form-label">
              Your name <span class="text-red-500">*</span>
            </label>
            <input id="name" name="name" class="form-input border border-gray-300" placeholder="Tell me your name, please" type="text" />
          </div>
          <div class="mb-6">
            <label for="email" class="form-label">
              Your email <span class="text-red-500">*</span>
            </label>
            <input id="email" name="email" class="form-input border border-gray-300" placeholder="So that I can reply to you" type="email" />
          </div>
          <div class="mb-6">
            <label for="message" class="form-label">
              Say it <span class="text-red-500">*</span>
            </label>
            <textarea id="message" name="message" class="form-input border border-gray-300" placeholder="Tell me what you think"
              rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>

{{ with site.Params.subscription }}
  {{ if .enable }}
    <!-- subscription form -->
    <form action="{{ .mailchimp_form_action | safeURL }}" method="post" id="mc-embedded-subscribe-form"
      novalidate="novalidate">
      <div class="input-group w-75 mx-auto mb-3">
        <input type="email" name="EMAIL" placeholder="Email" class="form-control required email mce_inline_error"
          id="mce-EMAIL" aria-required="true" autocomplete="off" required />
        <button class="input-group-text" name="subscribe" id="mc-embedded-subscribe">
          {{ .button_label }}
        </button>
      </div>
      <input type="hidden" name="EMAILTYPE" id="mce-EMAILTYPE-0" value="html" />
      <div style="position:absolute;left:-5000px" aria-hidden="true">
        <input type="text" name="{{ .name }}" tabindex="-1" />
      </div>
    </form>
    <div id="mce-responses" class="clear">
      <div class="response text-white" id="mce-error-response" style="display:none"></div>
      <div class="response text-white" id="mce-success-response" style="display:none"></div>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <!-- /subscription form -->
  {{ end }}
{{ end }}

{{ if site.Params.google_map.enable }}
  {{ $gmap:= resources.Get "plugins/maps/google-map.js" }}
  <script defer src="{{ $gmap.RelPermalink }}"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ site.Params.google_map.map_api_key }}&libraries=places">
  </script>
{{ end }}

{{ end }}